<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="LogType" value="File"/>
    <add key="LogFilePath" value="C:\logs\trocadilho.txt"/>
  </appSettings>
</configuration>